@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.center {
    margin: 0 auto;
}